{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnnoMathTex</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/helperFunctions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/functionality.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>


<body>


<form method="POST" id="post-form">
    {% csrf_token %}
    <button type="submit" name="post-form-submit2" >Save</button>
</form>




<div id="annotationsHolder"></div></br>


<div id="popupModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="span">&times;</span>
    <label><input id="localSwitch" type="checkbox" >Local</label>
    <button id="noMatch" onclick="handleNoMatch()" style="color: black;">No Match</button>
    <p id="highlightedText"></p>
    <!--<button id="markBtn" onclick="markAsNE()">MARK</button>
    <button id="unmarkBtn" onclick="unMarkAsNE()">UNMARK</button>-->
    <div id="tableholder"></div>
  </div>
</div>


<script>
  var linked_words = "{{ File.linked_words|escapejs }}";
  var linked_math_symbols = "{{ File.linked_math_symbols|escapejs }}";
  var fileName = "{{ File.file_name|escapejs }}";
  linkTokens(linked_words, linked_math_symbols);
  handlefileName(fileName);
</script>


{% for Line in File.body %}
    <div>
        {% for Token in Line %}
          {% if not Token.content == None %}
            <span
              class="inline"
              id="{{ Token.unique_id }}"
              style="color: {{ Token.highlight }};"
            >
                {{ Token.content }}
            </span>

            <script>
              //this part of js has to be in the loop, otherwise the unique_id will be lost
              //try catch not working yet, error happens when a backslash is in the text part
                $("#{{ Token.unique_id }}").on('click', function (event) {
                  event.preventDefault();
                  console.log('wikidata query sent out');

                  var jsonContent = "{{ Token.json_content|escapejs }}";
                  var jsonMathEnv = "{{ Token.json_math_env|escapejs  }}";


                  try {
                    clickToken(jsonContent,
                              "{{ Token.unique_id }}",
                              "{{ Token.type }}",
                              jsonMathEnv,
                              "{{ Token.highlight }}"
                              );
                  } catch (e) {
                    console.log(e);
                  }
                });
            </script>

          {% endif %}
          {% if Token.endline %}
              </br>
          {% endif %}
        {% endfor %}
    </div>
{% endfor %}


<script>
  var existingAnnotations = "{{ File.existing_annotations|escapejs }}";
  handleAnnotations(existingAnnotations);
</script>

</body>
</html>
