{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnnoMathTex</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/uploadstyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/helperFunctions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/repoHandling.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/rendering.js' %}"></script>
</head>


<div id="popupWikipedia" class="modal">
  <div class="modal-content">
    <span class="close" id="spanW">&times;</span>
    <div id="wikipediaTableHolder"></div>
  </div>
</div>

<div id="popupW" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div id="tableholderW"></div>
  </div>
</div>



{% block content %}


  <div class="hero flex-center">
    <form class="hero-message" id="upload_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="hero-title">
          <div>
            <button id="showFiles">Show Files</button>
          </div>
            <form id="wikipediaForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" id="wikipediaInput" required size="20" minlength="3" maxlength="60">
                <button id="wikipediaSubmit" name="wikipediaSubmit">Search Wikipedia</button>
                <button id="addArticleToRepo" name="addArticleToRepo">Add Article</button>
            </form>
          </br>
          </br>
          <a  href="https://www.youtube.com/watch?v=hcyJQtRwYAo" target="_blank" rel="noopener noreferrer" class="fa fa-youtube">
            <p>
              <small>
                Demo
              </small>
            </p>
          </a>

          <a href="https://github.com/philsMINT/AnnoMathTeX" target="_blank" rel="noopener noreferrer" class="fa fa-github">
            <p>
              <small>
                Source
              </small>
            </p>
          </a>
        </div>

    </form>
  </div>


  <script>
    $("#showFiles").on('click', function (event) {
        event.preventDefault();

        try {
          getRepoContent();
        } catch (e) {
          console.log(e);
        }
      });

    $("#wikipediaSubmit").on('click', function (event) {
        event.preventDefault();
        searchWikipedia();
      });

    $("#addArticleToRepo").on('click', function (event) {
        event.preventDefault();
        addArticle();
        alert('success');
      });
  </script>


{% endblock %}



</body>
</html>
