{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnnoMathTex</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/uploadstyle.css' %}">
</head>



{% block content %}


  <div class="hero flex-center">
    <form class="hero-message" id="upload_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="hero-title">
          <iframe width="168" height="126"
                  src="https://www.youtube.com/embed/hcyJQtRwYAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>


          <input type="file" name="file">
          <button type="submit" name="file_submit">Upload</button>
        </div>

    </form>
  </div>


{% endblock %}



</body>
</html>
