{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnnoMathTex</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/helperFunctions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/storedInformation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/saveInformation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/wikidataQuery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>


<body>
<form method="POST" id="post-form">
    {% csrf_token %}
    <button type="submit" name="post-form-submit2" >Save</button>
</form>



<div id="popupModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="span">&times;</span>
    <p id="highlightedText"></p>
    <button id="highlightBtn" onclick="highlightToken()">HIGHLIGHT</button>
    <button id="unHighlightBtn" onclick="unHighlightToken()">UNHIGHLIGHT</button>
    <!-- todo: make hidden -->
    <div id="tableholder"></div>
  </div>
</div>


{% for Line in TexFile.body %}
    <div>
        {% for Token in Line %}
          {% if not Token.content == None %}
            <span
              class="inline"
              id="{{ Token.unique_id }}"
              style="color: {{ Token.highlight }};"
            >
                {{ Token.content }}
            </span>

            <script>
              //this part of js has to be in the loop, otherwise the unique_id will be lost
              $("#{{ Token.unique_id }}").on('click', function(event){
                event.preventDefault();
                console.log('wikidata query sent out');
                wikidataQuery("{{ Token.content }}", "{{ Token.unique_id }}");
              });

            </script>
          {% endif %}
          {% if Token.endline %}
              </br>
          {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</body>
</html>

