<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>


</head>

<body>



{% block content %}

    {% for Line in TexFile.body %}

        <div>
            {% for Token in Line %}
              <script>
                  var iteration = {{ forloop.counter }};
                  var popupId = 'popup'+iteration.toString();
                  var popupIdQuerySelector = '#'+popupId;

                  tippy('.token', {
                    //content: document.querySelector('#popup'),
                    content: document.querySelector(popupIdQuerySelector),
                    delay: 100,
                    arrow: true,
                    arrowType: 'round',
                    size: 'large',
                    duration: 500,
                    animation: 'scale',
                    allowHTML: true,
                    hideOnClick: true,
                    trigger: "click"
                  })

                  function changeColor() {
                    var token = document.getElementById("tokenContent");
                    token.style.color="blue;";
                  }


              </script>


              {% if not Token.content == None %}
                <span class="inline token" id="tokenContent">
                  {# <strong style="color: pink;"> #}
                  <strong style="color: {{ Token.highlight }};">
                    {{ Token.content }}
                  </strong>
                </span>
                <div id="popup">
                  POPUP </br>
                  <button onclick="javascript:changeColor()">Highlight</button>
                </div>
              {% endif %}

              {% if Token.endline %}
                  </br>
              {% endif %}
            {% endfor %}
        </div>

    {% endfor %}


{% endblock %}

</body>
</html>
