<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>


</head>

<body>



{% block content %}


    {{ TeXFile }}
    {% for Line in TexFile.body %}

        <div>
            {% for Chunk in Line %}
              <script>
                  var chunkType = "{{ Chunk.type }}";

                  tippy('.token', {
                    content: document.querySelector('#myTemplate'),
                    delay: 100,
                    arrow: true,
                    arrowType: 'round',
                    size: 'large',
                    duration: 500,
                    animation: 'scale',
                    allowHTML: true,
                    hideOnClick: true,
                    trigger: "click"
                  })
              </script>

              <span class="inline token">
                <strong style="color: pink;">
                  {{ Chunk.str }}
                </strong>
              </span>
              <div id="myTemplate">PUT THE POPUP STUFF HEEEEERE</div>
                {# <span class="inline" title={{ Chunk.type }}>{{ Chunk.str }}</span> #}
                {% if Chunk.endline %}
                    </br>
                {% endif %}
            {% endfor %}
        </div>

    {% endfor %}


{% endblock %}

</body>
</html>

