<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>


</head>

<body>



{% block content %}


    {{ TeXFile }}
    {% for Line in TexFile.body %}

        <div>
            {% for Token in Line %}
              <script>
                  var chunkType = "{{ Token.type }}";

                  tippy('.token', {
                    content: document.querySelector('#myTemplate'),
                    delay: 100,
                    arrow: true,
                    arrowType: 'round',
                    size: 'large',
                    duration: 500,
                    animation: 'scale',
                    allowHTML: true,
                    hideOnClick: true,
                    trigger: "click"
                  })
              </script>

              {% if not Token.content == None %}
                <span class="inline token">
                  <strong style="color: pink;">
                    {{ Token.content }}
                  </strong>
                </span>
                <div id="myTemplate">PUT THE POPUP STUFF HEEEEERE</div>
              {% endif %}

              {% if Token.endline %}
                  </br>
              {% endif %}
            {% endfor %}
        </div>

    {% endfor %}


{% endblock %}

</body>
</html>

