/* https://github.com/docluv/Love2Dev-Code-Samples/blob/master/css/responsive-background-hero/index.html */

* {
            margin: 0;
            padding: 0;
        }
html,
body {
    width: 100%;
    height: 100%;
}
.hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
.hero::before {
    background-image: url("background.png");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}
.hero::after {
    background-color: #563d7c;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.not-hero {
    width: 100vw;
    height: 10em;
}
.bg-info {
    background-color: #17a2b8;
    color: #fff;
}
.not-hero-message {
    color: #fff;
    text-shadow: #343a40 2px 2px;
    min-width: 50%;
    min-height: 7em;
}
.hero-message {
    color: #fff;
    text-shadow: #343a40 2px 2px;
    min-width: 100%;
    min-height: 12em;
    position: relative;
}
.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 18em;
    z-index: -1;
    opacity: 0.4;
    background-color: #343a40;
}
.hero-title,
.hero-sub-title {
    width: 100%;
    display: block;
    text-align: center;
}
.hero-title {
    margin: 3% 0;
    text-transform: uppercase;
}
@media(min-width:1024px) {
    .hero-message {
        min-width: 50%;
        min-height: 12em;
    }
    .hero-message::before {
        margin-left: 25%;
        min-width: 50%;
        min-height: 12em;
    }
}
@media (min-width: 320px) {
    .hero::before {
        background-image: url("background.png");
    }
}
@media (min-width: 460px) {
    .hero::before {
        background-image: url("background.png");
    }
}
@media (min-width: 720px) {
    .hero::before {
        background-image: url("background.png");
    }
}
@media (min-width: 980px) {
    .hero::before {
        background-image: url("background.png");
    }
}
@media (min-width: 1240px) {
    .hero::before {
        background-image: url("background.png");
    }
}
@media (min-width: 1500px) {
    .hero::before {
        background-image: url("background.png");
    }
}
@media (min-width: 1760px) {
    .hero::before {
        background-image: url("background.png");
    }
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
  background: black;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
